.about {
  position: relative;
  width: 100vw;
  height: 100vh;
  align-items: flex-start;
  background-color: #830b0e;
  overflow: hidden;

  display: flex;
  flex-direction: row;
  align-items: center !important;
  justify-content: space-between !important;

  .text-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

    height: 100%;
    width: 50%;

    // margin-top: 15rem;
    margin-left: 4rem;

    .title {
      font-family: "Poppins";
      font-style: normal;
      font-weight: 700;
      font-size: 5rem;
      line-height: 0rem;
      text-transform: uppercase;

      color: #ffffff;
    }

    .sub-title {
      font-family: "Poppins";
      font-style: normal;
      font-weight: 700;
      font-size: 6rem;
      line-height: 9rem;
      text-transform: uppercase;

      color: #ffffff;
    }

    .description {
      font-family: "Poppins";
      font-style: normal;
      font-weight: 300;
      font-size: 1rem;
      line-height: 2rem;

      color: #ffffff;
    }
  }

  .img-container {
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: end;
    align-items: end;

    .about-img {
      width: 40rem;
      height: 40rem;
    }

    .about-img-mobile {
      display: none;
    }
  }
}

@media (max-width: 768px) {
  .about {
    margin-top: 6rem;
    flex-direction: column-reverse;

    align-items: center;
    justify-content: center;

    .img-container {
      height: 100%;
      width: 100%;
      display: flex;
      justify-content: end;
      align-items: end;

      .about-img {
        display: none;
      }

      .about-img-mobile {
        display: block;
        width: 140%;
        height: 20rem;
        //zoom in image
        object-fit: cover;
      }
    }

    .text-container {
      width: 100%;
      align-items: center;
      justify-content: center;
      text-align: center;

      margin-top: 1rem;
      margin-left: 0;
      padding: 1rem;

      .title {
        font-size: 3rem;
        line-height: 3rem;
      }

      .sub-title {
        font-size: 5rem;
        line-height: 5rem;
      }

      .description {
        font-size: 1rem;
        line-height: 1.5rem;
      }

      .view-all-products-btn {
        font-size: 1rem;
        line-height: 1.5rem;
      }
    }
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .about {
    flex-direction: column-reverse;

    align-items: center;
    justify-content: center;

    .img-container {
      height: 100%;
      width: 100%;
      display: flex;
      justify-content: start;
      align-items: start;
      margin-top: 4rem;
      margin-bottom: -25rem;

      .about-img {
        display: none;
      }

      .about-img-mobile {
        display: block;
        width: 100%;
        height: 30rem;
        //zoom in image
        object-fit: cover;
      }
    }

    .text-container {
      width: 100%;
      align-items: center;
      justify-content: center;
      text-align: center;

      margin-left: 0;
      padding: 1rem;

      margin-top: -5rem;

      .sub-title{
        margin-bottom: 2rem;
      }
    }
  }
}
