.homepage {
  position: relative;
  width: 100vw;
  height: 100vh;
  align-items: flex-start;
  background-color: #830b0e;
  // overflow: hidden;

  // margin-top: 10rem;

  display: flex;
  flex-direction: column;
  align-items: center !important;
  justify-content: space-between !important;

  .home-container {
    width: 100%;
    height: 100vh !important;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 0rem;
  }

  .video-container {
    // margin-bottom: 2rem;

    video {
      width: 100vw;
      height: 100vh;
      object-fit: cover;
      // border: 3px solid #fff;
      // border-radius: 0.75rem;
    }
  }

  .text-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

    height: 100%;
    width: 45%;

    // margin-top: 15rem;
    margin-left: 4rem;

    .title {
      /* TASTE THE */

      font-family: "Poppins", sans-serif;
      font-style: normal;
      font-weight: 700;
      font-size: 5rem;
      line-height: 4rem;
      text-transform: uppercase;

      color: #ffffff;
    }

    .sub-title {
      font-family: "Poppins", sans-serif;
      font-style: normal;
      font-weight: 700;
      font-size: 9rem;
      line-height: 7.5rem;
      text-transform: uppercase;

      color: #ffffff;
    }

    .description {
      font-family: "Poppins";
      font-style: normal;
      font-weight: 300;
      font-size: 1rem;
      line-height: 2rem;

      padding-left: 0.5rem;

      // width: 45%;

      color: #ffffff;
    }

    .view-all-products-btn {
      color: #000;

      font-family: "Poppins";
      font-style: normal;
      font-weight: 500;
      font-size: 1rem;
      line-height: 2rem;
      text-align: center;
      text-transform: uppercase;
      letter-spacing: 0.05em;

      padding-left: 1rem;
      padding-right: 1rem;
      padding-top: 0.5rem;
      padding-bottom: 0.5rem;

      border: none;

      border-radius: 2rem;
    }
  }

  .cola-can-container {
    height: 100%;
    width: 55%;
    display: flex;
    justify-content: end;
    align-items: center;
  }

  .cola-can {
    // width: 35rem;
    height: 55%;
  }
}

@media (max-width: 768px) {
  .homepage {
    margin-top: 6rem;
    flex-direction: column;

    align-items: center;
    justify-content: center;

    .home-container {
      width: 100%;
      height: 100vh !important;
      display: flex;
      flex-direction: column;

      align-items: center;
      justify-content: center;
      margin-bottom: 0rem;
    }

    .video-container {
      // margin-top: 4rem;

      video {
        width: 100vw;
        height: 100vh;
        object-fit: cover;
        // border: 3px solid #fff;
        // border-radius: 0.75rem;
      }
    }

    .text-container {
      width: 100%;
      align-items: center;
      justify-content: center;
      text-align: center;

      margin-left: 0;
      padding: 1rem;

      .title {
        font-size: 3rem;
        line-height: 3rem;
      }

      .sub-title {
        font-size: 5rem;
        line-height: 5rem;
      }

      .description {
        font-size: 1rem;
        line-height: 1.5rem;
      }

      .view-all-products-btn {
        font-size: 1rem;
        line-height: 1.5rem;
      }
    }

    .cola-can-container {
      width: 100%;
      align-items: center;
      justify-content: center;
    }

    .cola-can {
      width: 25rem;
      height: 25rem;
    }
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .homepage {
    flex-direction: column-reverse;

    align-items: center;
    justify-content: center;

    .home-container {
      width: 100%;
      height: 100vh !important;
      display: flex;
      flex-direction: column-reverse;

      align-items: center;
      justify-content: center;
      margin-bottom: 0rem;
    }

    .video-container {
      // margin-top: 4rem;

      video {
        width: 100vw;
        height: 100vh;
        object-fit: cover;
        // border: 3px solid #fff;
        // border-radius: 0.75rem;
      }
    }

    .text-container {
      width: 100%;
      align-items: center;
      justify-content: center;
      text-align: center;

      margin-left: 0;
      padding: 1rem;

      margin-top: -5rem;

      .title {
        margin-top: 0;
        font-size: 3rem;
        line-height: 3rem;
      }

      .sub-title {
        font-size: 5rem;
        line-height: 5rem;
      }

      .description {
        margin-top: 1rem;
        margin-bottom: 2rem !important;
        font-size: 1rem;
        line-height: 1.5rem;
        padding-left: 6rem !important;
        padding-right: 6rem !important;
      }

      .view-all-products-btn {
        font-size: 1rem;
        line-height: 1.5rem;
      }
    }

    .cola-can-container {
      width: 100%;
      align-items: center;
      justify-content: center;
    }

    .cola-can {
      // margin-top: 4rem;
      width: 40rem;
      height: 40rem;
    }
  }
}
