.cola {
  position: relative;
  width: 100vw;
  display: flex; /* Added */
  justify-content: center; /* Added */
  align-items: center; /* Added */
  background-color: #830b0e;
  overflow: hidden;

  flex-direction: column;

  .background-text {
    margin-top: 4rem;

    font-family: "Poppins";
    font-style: normal;
    font-weight: 900;
    font-size: 16rem;
    line-height: 24rem;
    text-align: center;
    letter-spacing: 0.99em;
    text-transform: uppercase;

    color: #730003;
  }

  .background-text::after {
    content: "";
    margin-right: -0.99em; /* letter-spacing değeriniz neyse, onun negatif değeri */
  }

  .cola-can {
    position: absolute; /* Görseli belirli bir konuma sabitler */
    top: 35%; /* Üstten %50 uzaklıkta */
    left: 50%; /* Soldan %50 uzaklıkta */
    transform: translate(-50%, -50%); /* Görseli tam ortaya hizalar */
    z-index: 10; /* Yazının üstünde görünmesini sağlar */
    /* Görselin boyutlarını ekleyin, örnek olarak 100px x 100px kullanıldı */
    width: 40rem; /* Görselin genişliği */
    height: 40rem; /* Görselin yüksekliği */
  }

  .title {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 700;
    font-size: 80px;
    line-height: 80px;
    text-transform: uppercase;

    color: #ffffff;
  }

  .sub-title {
    /* STORY */

    font-family: "Poppins";
    font-style: normal;
    font-weight: 700;
    font-size: 120px;
    line-height: 120px;
    text-transform: uppercase;

    color: #ffffff;
  }

  .description {
    margin-top: 2rem;
    margin-bottom: 5rem;

    padding-left: 15rem;
    padding-right: 15rem;

    font-family: "Poppins";
    font-style: normal;
    font-weight: 300;
    font-size: 1rem;
    line-height: 2rem;
    text-align: center;

    color: #ffffff;
  }
}
