.sprite {
  position: relative;
  width: 100vw;
  display: flex; /* Added */
  justify-content: space-between; /* Added */
  align-items: center; /* Added */
  background-color: #01c441;
  overflow: hidden;

  flex-direction: column;

  .text-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;

    position: absolute; /* Görseli belirli bir konuma sabitler */
    top: 35%; /* Üstten %50 uzaklıkta */
    left: 50%; /* Soldan %50 uzaklıkta */
    transform: translate(-50%, -50%);

    .background-text-left {
      margin-left: 6rem;

      font-family: "Poppins";
      font-style: normal;
      font-weight: 900;
      font-size: 15rem;
      line-height: 22.5rem;
      text-transform: uppercase;
      text-align: center;
      letter-spacing: 0.38em;

      color: #fadb03;
    }

    .background-text-right {
      margin-right: 7rem;

      font-family: "Poppins";
      font-style: normal;
      font-weight: 900;
      font-size: 15rem;
      line-height: 22.5rem;
      text-transform: uppercase;
      text-align: center;
      letter-spacing: 0.58em;

      color: #fadb03;
    }

    .background-text-left::after {
      content: "";
      margin-right: -0.58em; /* letter-spacing değeriniz neyse, onun negatif değeri */
    }

    .background-text-right::after {
      content: "";
      margin-right: -0.58em; /* letter-spacing değeriniz neyse, onun negatif değeri */
    }
  }

  .sprite-can {
    position: absolute; /* Görseli belirli bir konuma sabitler */
    top: 35%; /* Üstten %50 uzaklıkta */
    left: 50%; /* Soldan %50 uzaklıkta */
    transform: translate(-50%, -50%); /* Görseli tam ortaya hizalar */
    z-index: 10; /* Yazının üstünde görünmesini sağlar */
    /* Görselin boyutlarını ekleyin, örnek olarak 100px x 100px kullanıldı */
    width: 21rem; /* Görselin genişliği */
    height: 52rem; /* Görselin yüksekliği */
  }

  .sprite-bottle-canvas {
    position: absolute !important; /* Görseli belirli bir konuma sabitler */
    width: 100% !important; /* Görselin genişliği */
    height: 70rem !important;
    top: 35% !important; /* Üstten %50 uzaklıkta */
    left: 50% !important; /* Soldan %50 uzaklıkta */
    transform: translate(-50%, -50%) !important; /* Görseli tam ortaya hizalar */
    z-index: 10 !important; /* Yazının üstünde görünmesini sağlar */
  }

  .history-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 60rem;
  }

  .title {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 700;
    font-size: 80px;
    line-height: 80px;
    text-transform: uppercase;

    color: #ffffff;
  }

  .sub-title {
    /* STORY */

    font-family: "Poppins";
    font-style: normal;
    font-weight: 700;
    font-size: 120px;
    line-height: 120px;
    text-transform: uppercase;

    color: #ffffff;
  }

  .description {
    margin-top: 2rem;
    margin-bottom: 5rem;

    padding-left: 15rem;
    padding-right: 15rem;

    font-family: "Poppins";
    font-style: normal;
    font-weight: 300;
    font-size: 1rem;
    line-height: 2rem;
    text-align: center;

    color: #ffffff;
  }

  .control-buttons {
    z-index: 100;

    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: end;
    gap: 1rem;

    position: absolute;
    top: 35%;
    right: 2%;
    transform: translate(0, -50%);

    button {
      height: 3rem;
      width: 3rem;
      background-color: transparent;
      border: 3px solid #ffffff;
      border-radius: 20%;
      cursor: pointer;

      color: #ffffff;
    }

    .additionalButtons {
      display: flex;
      flex-direction: row-reverse;
      gap: 1rem;
    }

    .additionalButtons > div {
      /* Targeting the direct div container of subChildButton */
      display: flex;
      flex-direction: row;
      gap: 0.5rem; /* Adjust this value as needed for your desired gap */
    }

    .arrow-up {
      width: 0;
      height: 0;
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
      border-top: 5px solid white;
      position: absolute;
      bottom: -5px;
      left: 50%;
      transform: translateX(-50%);
    }

    .wrench-icon {
      transition: transform 0.3s ease;

      &.rotate {
        transform: rotate(15deg);
      }
    }
  }
}
